@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background: #ECF2FF; /*muda o fundo*/
}
ul { /*lista nao ordenada*/
    list-style: none;
    font-weight: bold; /*negrito*/
    color: #000000;
    font-size: 20px;
}
a{ /*mudar a cor do link*/
    text-decoration: none;
    color: inherit;  /*cor do link*/
}
button{
    padding: 10px 15px;
    border-radius: 8px;
    border: 0; /*tira a borda do botão*/
    font-weight: bold;
    background: #64e0c6; /*cor do fundo do botao*/
    color: black; /*cor da escrita*/
    font-family: 'Montserrat', sans-serif;
    font-size: 10;
}
header{
    background:no-repeat center/cover url(assets/brasilpng.jpg);
    height: calc(100vh - 150px);
}

header nav {
    display: flex;
    justify-content: space-between;
    margin: auto 90px;
}
header nav ul {
    display: flex;  
}

header button{
    padding: 10px 15px;
    border-radius: 8px;
    border: 0; /*tira a borda do botão*/
    font-weight: bold;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 10;
    background: #6096B4;
}
header nav ul li{
    margin: 0 15px;
}
.header-content {
    max-width: 400px;
    margin: 150px auto;
    text-align: center;
}
.header p{
    color: #6096B4;
}
.header-content h1{
    margin-bottom: 10px;
    font-size: 4rem;
    color: #6096B4;
}
.header-content p{
    font-size: 1.2rem;
}
.pacotes {
    background: #CBE4DE ;
    padding: 15px;
}
.pacotes .pacotes-cards{
    display: flex;
    margin: auto;
    max-width: 950px;
    flex-wrap: wrap;
    justify-content: center;
}
.pacotes .pacotes-tittle{
    width: 100%;
    text-align: center;
    margin: 25px 0;
    color: #6096B4;
    font-size: 2.5rem;
}
.pacotes .card{
    width: 250px;
    height: 450px;
    background: #DDF7E3;
    margin: 25px;
    position: relative;
    border-radius: 24px ;
}
.pacotes .cards-image{
    width: 250px;
    height: 200px;
    border-radius: 24px ;
    object-fit: cover;
}
.pacotes .card-content{
    padding: 0 15px;
}
.pacotes .card h1{
    color: black;
    text-align: center;
    font-size: 20px;
}
.pacotes .card-content ul{
    display: flex;
    flex-direction: column;
    padding: 0;
}
.pacotes .card-content ul li{
    font-size: 0.6rem;
    display: flex;
    align-items: center;
    margin: 3px;
    color: grey;
    font-weight: bold;
}
.card .card-content ul li svg{
    width: 16px;
    height: 16px;
    margin-right: 10px;
}
.pacotes .card-content ul li h1{
    font-size: 1rem;
}
.pacotes .card .card-tag-top{
    position: absolute;
    right: 0;
    top: 15px;
    background: #f19b39;
    border-radius: 8px 8px 0 8px;
    padding: 5px - 10px;
}
.pacotes .card .card-tag-buttom {
    position: absolute;
    left: 0;
    top: 160px;
    background: #1d61dd;
    border-radius: 0 8px 8px;
    padding: 5px 10px;
}
.pacotes .card .card-tag p{
    margin: 0;
    font-size: 0.9rem;
    color: white;
    font-weight: bold;
}
.titulos{
    padding: 15;
}
.titulos .titulos-tittle{
    text-align: center;
    margin: 35px 0;
    color: #6096B4;
    font-size: 3rem;

}

.titulos .titulinho{
    text-align: center;
}

.titulos .titulos-cards {
    margin-top: 25px;
    display: flex;
    max-width: 950px;
    justify-content: center;
    margin: auto;
    flex-wrap: wrap;
}
.titulos .card {
    width: 250px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
}
.titulos .card svg{
    width: 60px;
    height: 60px;
    margin: 50;
    transition: all 1s;
}
.titulos .card svg:hover{
    stroke: #1d61dd;
    transform: scale(1.1);
}
.titulos .card h3{
    font-weight: bold;
}
.titulos .card p{
    color: gray;
    font-size: 0.8rem;
    text-align: center;
}
.titulos .card .card-content{
    height: 180px;
    text-align: center;
}
.contatos {
    padding: 60px;
    background:#CBE4DE;
    position: relative;
    text-align: right;
}
.contatos .contatos-card{
    width: 350px;
    height: 300px;
    background: white;
    position: absolute;
    z-index: 99;
    border-radius: 8px;  
    top: calc(50% - 150px);
    left: calc(20% - 175px);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.contatos .contatos-card h1{
    padding-left: 50px;
    text-align: left;
}
.contatos .contatos-card li{
    font-size: .8rem;
    font-weight: bold;
    color: grey;
    display: flex;
    align-items: center;
}
